

//════════════════════════════════════════════════════════════════════════════════════════════════════
//										Center Anything
//					Based On - http://codepen.io/shshaw/full/gEiDt#Comparison-Table
//════════════════════════════════════════════════════════════════════════════════════════════════════


// Comparison Table
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

// # │ Technique│ Abso	│ Height| Width	|Browser│ Respo	│ Overflow	│resize:both│ Major Caveats
//   │					│ lute?	│ Req?	| Req?	|				│ nsive?│						│						│
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
// 1 │ Absolute │ Yes		│ Yes*	| Yes		│ IE8+	│ Yes		│ Scroll,can│ Yes				│ Variable Height not
//   │ Centering│				│				│				│				│				│ overflow 	│						│ perfect cross-browser
//   │					│				│				│				│				│				│ container	│						│
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
// 2 │ Negative	│ Yes		│ Yes		│ Yes		│ All		│ No		│ Scroll		│Resizes but│ Not responsive,
//   │ margins	│				│				│				│				│				│						│doesnt stay│ margins must be
//   │					│				│				│				│				│				│						│ centered	│ calculated manually
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
// 3 │Transforms│ Yes		│ No		│ Yes		│ IE9+	│ Yes		│ Scroll,can│ Yes				│ Blurry rendering
//   │					│				│				│				│				│				│ overflow 	│						│
//   │					│				│				│				│				│				│ container	│						│
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
// 4 │Table-Cell│ No		│ No		│ Yes		│ IE8+	│ Yes		│ Expands		│ No				│ Extra markup
//   │					│				│				│				│				│				│ container	│						│
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
// 5 │ inline		│ No		│ No		│ ---		│ IE8+	│ Yes		│ Expands		│ No				│ Requires container,
//   │ -block		│				│				│				│ & IE7*│				│ container	│ 					│ hacky styles
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
// 6 │ Flexbox	│ No		│ No		│ ---		│ IE10+	│ Yes		│ Scroll,can│ Yes				│ Requires container,
//   │					│				│				│				│				│				│ overflow	│ 					│ vendor prefixes
//   │					│				│				│				│				│				│ container	│						│
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━


//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
//	1. Absolute Centering
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

.Center-Container { position: relative; }

.Absolute-Center {
	margin: auto;
	position: absolute;
	width:50%; // Width is required for horizontal centering!
	height:50%; // Height is required for vertical centering!
	top: 0; left: 0; bottom: 0; right: 0;
}

// Advantages:
//------------------------
// Cross-browser (including IE8-10)
// No special markup, minimal styles
// Responsive with percentages and min-/max-
// Use one class to center any content
// Centered regardless of padding (without box-sizing!)
// Blocks can easily be resized
// Works great on images

// Caveats:
//------------------------
// Height must be declared (see Variable Height)
// Recommend setting overflow: auto to prevent content spillover (see Overflow)


//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
//	2. Negative margins
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

.Center-Container { position: relative; }

.is-Negative {
	width: 300px;	// Fixed width reuired for horizontal centering!
	height: 200px;	// Fixed height reuired for horizontal centering!
	padding: 20px;
	position: absolute;
	top: 50%; left: 50%;
	margin-left: -170px;	/* (width + padding)/2 */
	margin-top: -120px;		/* (height + padding)/2 */
}

// Advantages:
//------------------------
// Works well cross-browser, including IE6-7
// Requires minimal code

// Caveats:
//------------------------
// Not responsive. Doesn't work for percentage based dimensions and can't set min-/max-
// Content can overflow the container
// Have to compensate for padding or use box-sizing: border-box


//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
//	3. Transforms
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

.Center-Container { position: relative; }

.is-Transformed {
	width: 50%;
	margin: auto;
	position: absolute;
	top: 50%; left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);	// IE9
	transform: translate(-50%,-50%);
}

// Advantages:
//------------------------
// Variable height content
// Requires minimal code

// Caveats:
//------------------------
// Won't work in IE8
// Need vendor prefixes
// Can interfere with other transform effects
// Results in blurry rendering of edges and text in some cases. Not as much of an issue in modern rendering engines, especially if you enable transform-style: preserve-3d


//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
//	4. Table-Cell
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

//	HTML :
//------------------------

<div class="Center-Container is-Table">
	<div class="Table-Cell">
		<div class="Center-Block">
			<!-- CONTENT -->
		</div>
	</div>
</div>

//	CSS :
//------------------------

.Center-Container.is-Table { display: table; }
.is-Table .Table-Cell {
	display: table-cell;
	vertical-align: middle;
}
.is-Table .Center-Block {
	width: 50%;
	margin: 0 auto;
}

// Advantages:
//------------------------
// Variable height content
// Content overflows by stretching the parent element
// Works well cross-browser

// Caveats:
//------------------------
// Requires extra markup


//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
//	5. Inline-Block
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

//	HTML :
//------------------------

<div class="Center-Container is-Inline">
	<div class="Center-Block">
		<!-- CONTENT -->
	</div>
</div>

//	CSS :
//------------------------

.Center-Container.is-Inline {
	text-align: center;
	overflow: auto;
}

.Center-Container.is-Inline:after,
.is-Inline .Center-Block {
	display: inline-block;
	vertical-align: middle;
}

.Center-Container.is-Inline:after {
	content: '';
	height: 100%;
	margin-left: -0.25em; /* To offset spacing. May vary by font */
}

.is-Inline .Center-Block {
	max-width: 99%; /* Prevents issues with long content causes the content block to be pushed to the top */
	/* max-width: calc(100% - 0.25em) /* Only for IE9+ */
}

// Advantages:
//------------------------
// Variable height content
// Content overflows by stretching the parent element
// Works well cross-browser, and can be adapted for IE7 support (view the CSS to see)

// Caveats:
//------------------------
// Requires a container
// Relies on margin-left: -0.25em; to horizontally center correctly, but may need to be adjusted for different fonts/sizes
// Content block's width must be declared to be no wider than 100% of the container minus 0.25em.


//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
//	6. Flexbox
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

//	:)


//════════════════════════════════════════════════════════════════════════════════════════════════════
//										End : Center Anything
//════════════════════════════════════════════════════════════════════════════════════════════════════
