
///
//	Media breakpoints
///==================================

// width < 600px
$xs:		"screen and ( max-width: 599px )";

// width >= 600px
$gt_xs:	"screen and ( min-width: 600px )";

// 600px <= width < 960px
$sm:		"screen and ( min-width: 600px ) and ( max-width: 959px )";

// width >= 960px
$gt_sm:	"screen and ( min-width: 960px )";

// 960px <= width < 1280px
$md:		"screen and ( min-width: 960px ) and ( max-width: 1279px )";

// width >= 1280px
$gt_md:  "screen and ( min-width: 1280px )";

// 1280px <= width < 1920px
$lg:    "screen and ( min-width: 1280px ) and ( max-width: 1919px )";

// width >= 1920px
$gt_lg:  "screen and ( min-width: 1920px )";


//	Usage
// @media #{$gt_sm}{
//  	.header{width:100%}
//  	.footer{width:50%;}
// }

// .container{
//  	@media #{$sm}{width:70%;}
// }



//	Default Variables




// colors

$clr-default: #000;
$clr-grey: #ccc;


// Fonts

$ff-default: '"Lucida Sans Unicode", "Lucida Grande", sans-serif';


// Font size

$fz-default: 16px;


// Paddings

$pd-default: 10px;


// Margins
$mg-default: 10px;
